name: Setup Fortran Conda CI/CD

on:
  push:
    branches: [main, dev]
    paths-ignore: ['README.md','CHANGELOG.md','VERSION','LICENSE']
  pull_request:
    branches: [main]
    paths-ignore: ['README.md','CHANGELOG.md','VERSION','LICENSE']
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  test_fpm:
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
    name: ${{ matrix.os }}_${{ matrix.compiler }}_fpm
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - {os: ubuntu-latest,  compiler: gfortran}
        - {os: ubuntu-latest,  compiler: ifx     }
        - {os: macos-latest,   compiler: gfortran}
        - {os: windows-latest, compiler: gfortran}

    steps:
      - name: Setup Fortran
        uses: gha3mi/setup-fortran-conda@latest
        with:
          platform: ${{ matrix.os }}
          compiler: ${{ matrix.compiler }}

      - name: fpm build (debug)
        run: fpm build --compiler ${{ matrix.compiler }} --profile debug --verbose
      - name: fpm build (release)
        run: fpm build --compiler ${{ matrix.compiler }} --profile release --verbose

      - name: install fpm-watch
        run: fpm install --compiler ${{ matrix.compiler }} --prefix .

      - name: fpm-watch test
        if: runner.os != 'Windows'
        shell: bash
        run: ./bin/fpm-watch --watch-low-cpu --watch-once test

      - name: fpm-watch test
        if: runner.os == 'Windows'
        run: .\bin\fpm-watch.exe --watch-low-cpu --watch-once test

  doc_ford:
    if: ${{ (github.event_name == 'push' || github.event_name == 'workflow_dispatch') && !contains(github.event.head_commit.message, '[skip ci]') }}
    name: Generate FORD Documentation
    runs-on: ubuntu-latest
    steps:
      - name: Setup and Generate FORD Documentation
        uses: gha3mi/setup-fortran-conda@latest
        with:
          compiler: gfortran
          generate-doc-ford: true
          ford-working-directory: .
          ford-config: README.md
          ford-output-directory: doc
          ford-branch: gh-pages-ford
          ford-target-folder: .

  linter_fortitude:
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
    name: Run Fortitude Linter
    runs-on: ubuntu-latest
    steps:
      - name: Run Fortitude Linter
        uses: gha3mi/setup-fortran-conda@latest
        with:
          fortitude-check: true
          fortitude-settings: "--output-format github"

  update_readme_table:
    if: ${{ always() && (github.event_name == 'push' || github.event_name == 'workflow_dispatch' || github.event_name == 'schedule') && github.ref == 'refs/heads/main' && !contains(github.event.head_commit.message, '[skip ci]') }}
    name: Update README.md status table
    needs: [test_fpm]
    runs-on: ubuntu-latest
    steps:
      - name: Update README status
        uses: gha3mi/setup-fortran-conda@latest
        with:
          update-readme-table: true
          update-readme-token: ${{ secrets.GH_PAT_FPM_WATHCH }}   # Update with your GitHub personal access token
          update-readme-user-name: "Seyed Ali Ghasemi" # Update with your name
          update-readme-user-email: "info@gha3mi.com"  # Update with your email